/*estilos grales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//import

@import "html/header";
@import "html/footer";
@import "html/home";
@import "html/topten";
@import "html/resenas";
@import "html/novedades";
@import "html/contacto";