//import
@import "../utilidades/variables";
@import "../utilidades/extend";

body{
    background-color: $color-principal;
    font-family: $fuente;
}

/*Estilos de home*/

@media screen and (min-width:320px){
    main{
        .textomain{
            display: flex;
            flex-direction: column;
            align-items: center;      
        }
    }
}